@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo';
    color: #21243D;
    font-size: 16px;
}
/* сброс плавающих */

.clearfix {
    clear: both;
}

/* обертка в section */
.wrapper {
    width: 856px;
    margin: 0 auto;
}


/* header */
header {
    overflow: hidden;
}

header ul {
    list-style: none;
    float: right;
    margin: 27px 60px 27px 0;
}

header li {
    float: left;
    margin-left: 32px;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: color .2s;
}

header a:hover {
    color: #FF6464;
}

header a.active {
    color: #FF6464;
}

/* блок автора */
.author {
    margin-top: 128px;
    margin-bottom: 72px;
}
.author .wrapper {
    overflow: hidden;
}

.author__info {
    float: left;
    width: calc(100% - 243px);
    padding-right: 115px;
}

.author__avatar {
    float: right;
    width: 243px;
}

.author__avatar img {
    width: 100%;
    border-radius: 50%;
    box-shadow: -6px 6px 0px #EDF7FA;
}
.author__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
    margin-bottom: 40px;
}

.author__text {
    font-size: 16px;
    margin-bottom: 40px;
}

/* button */
.btn {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF6464;
    display: inline-block;
    border-radius: 2px;
    padding: 8px 20px;
    margin-top: 38px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color .2s;
}

.btn:hover {
    background-color: #FE5454;
}

/* section post */

.post {
    background-color: #EDF7FA;
    margin-top: 72px;
    margin-bottom: 32px;
}

.post__header {
    overflow: hidden;
    margin-bottom: 16px;
}

.post__title {
    float: left;
    font-size: 22px;
}

.post__header a {
    float: right;
    text-decoration: none;
    color: #01a0c4;
    font-size: 16px;
    transition: .2s;

}

.post__header a:hover {
    color: #0284a1;
}

.post .wrapper {
    padding-top: 20px;
    padding-bottom: 32px;
}

.post__cards {
    overflow: hidden;
}
.post__card {
    width: calc(50% - 10px);
    float: left;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 24px;
    display: block;
}

a.post__card {
    text-decoration: none;
    color: #142850;
}

.post__card:last-child {
    margin-right: 0;
}

.post__card-title {
    font-weight: 700px;
    font-size: 26px;
}


.post__date, .post__tags {
    float: left;
    font-size: 18px;
}

.post__date {
    border-right: 1px solid black;
    padding-right: 32px;
}

.post__tags {
    margin-left: 32px;
}

.post__card-info {
    margin-top: 26px;
}

.post__card-text {
    margin-top: 20px;
}

/* section works */

.works {
    margin-top: 28px;
    margin-bottom: 84px;
}

.works__title {
    font-size: 22px;
    margin-bottom: 36px;
}

.works__card {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 36px;
    margin-bottom: 32px;
    overflow: hidden;
}

.works__card-img {
    width: 246px;
    display: block;
}

.works__card-img img {
    width: 100%;
}

.works__card-img, .works__box {
    float: left;
}

.works__box {
    width: calc(100% - 246px);
    padding-left: 18px;
}

.works__card-title {
    font-size: 30px;
    font-weight: 700px;
    display: block;
    text-decoration: none;
    color: #142850;
    transition: .2s;
}

.works__card-title:hover {
    color: #203662;
}

.works__date, .works__tags {
    float: left;
}

.works__date {
    color: #fff;
    font-size: 18px;
    font-weight: 900px;
    background-color: #142850;
    border-radius: 16px;
    padding: 0 12px;
}

.works__tags {
    margin-left: 24px;
    font-size: 20px;
    color: #8695A4;
}

.works__card-text, .works__card-info  {
    margin-top: 20px;
}

/* footer */

footer {
    margin-top: 84px;
    padding: 52px 0;
}

.footer__copyright {
    overflow: hidden;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    font-size: 14px;
}

.footer__social {
    margin: 0 auto;
    width: fit-content;
    max-width: 312px;
    margin-bottom: 28px;
}

.footer__icon {
    float: left;
    margin-right: 28px;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    transition: .2s;
}

.footer__icon:hover {
    transform: scale(1.2);
}

.footer__icon img {
    max-width: 37px;
}

.footer__icon:last-child {
    margin-right: 0;
}


